header{
    padding: 10px 50px 10px 20px;
    height: 80px;
    background-color: #5C2482;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-title{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-left: 340px;
}

.header-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.header-title span {
    position: relative;
    cursor: pointer;
}

.header-title span::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #F95B0E;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transition: width 0.3s ease;
    transform: translateX(-50%);
}

.header-title span:hover::after,
.header-title span.active::after {
    width: 100%;
}

@keyframes write {
    from {
      width: 0;
      opacity: 0;
    }
    to {
      width: 60%;
      opacity: 1;
    }
}

#animated-text {
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid #fff;
    animation: write 3s cubic-bezier(0.77, 0, 0.175, 1) forwards;

}

#video-background {
    position: absolute;
    top: 12%;
    left: 0;
    width: 100%;
    height: 88%;
    object-fit: cover;
    z-index: -1;
}

.scroll{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 90%;
    left: 45%;
}

.main-2{
    width: 100%;
    height: 90vh;
    padding: 50px 70px;
    background-color: #F6F6F6;
}

.box-display {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.main-page-box{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction:column;
    gap:100px;
}

.box {
    width: 280px;
    height: 220px;
    background: #C4C4C4;
    border-radius: 10px;
}

.sm-box{
    background-color: #fff;
    width: 280px;
    height: 80px;
    margin-top: 140px;
    border-radius: 0px 0px 10px 10px;
    padding: 17px;
    display: flex;
    flex-direction: row;
}

.sm-box-display{
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 60%;
}

.sm-box-display-2{
    width: 40%;
    display: flex;
    align-items: end;
    justify-content: end;
}


.course-display{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}





footer{
    background-color: #F95B0E;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px 25px;
    gap: 300px;
}

.f-1{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.footer-text{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.slider{
    height: 66vh;
    background: rgba(92, 36, 130, 0.10);
    width: 100%;
}

.slide{
    padding: 50px 80px;
    display: flex;
    flex-direction: row;
}

.slide-text{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.slide-text button{
    width: 205px;
    height: 45px;
    border: none;
    margin-top: 40px;
}

.slide-img{
    margin-left: 60px;
}

.navigation-points {
    display: flex;
    justify-content: center;
}

.point {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: rgba(92, 36, 130, 0.10);
    margin: 0px 8px;
}

.point.active {
    background-color: #F95B0E;
}
