.color-primary{
    color: var(--color-primary);
}

.text-size-15px{
    font-size: 15px
}

.text-size-16px{
    font-size: 16px
}

.text-size-18px{
    font-size: 18px
}

.text-size-20px{
    font-size: 20px
}

.text-size-35px{
    font-size: 35px
}

.text-size-36px{
    font-size: 36px
}

.font-300{
    font-weight: 300;
}

.font-400{
    font-weight: 400;
}

.font-500{
    font-weight: 500;
}

.font-600{
    font-weight: 600;
}

.color-c4{
    color: #C4C4C4;
}

.color-AD{
    color: #ADADAD;
}

.color-white{
    color: #FFF;
}

.bg-color-F6{
    background-color: #F6F6F6;
}

.color-F6{
    color: #F6F6F6;
}

.ml-13{
    margin-left: 13px;
}

.ml-220px{
    margin-left: 220px;
}

.mr-50px{
    margin-right: 50px;
}

.cursor{
    cursor: pointer;
}

.border-radius-8px{
    border-radius: 8px;
}

.display-flex{
    display: flex;
}

.pr-35px{
    padding-right: 30px;
}

.pl-80px{
    padding-left: 80px;
}

.pt-20px{
    padding-top: 20px;
}

.pt-100px{
    padding-top: 100px;
}

.p-12-40{
    padding: 12px 40px;
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

.align-justify-center{
    align-items: center;
    justify-content: center;
}


.color-black{
    color: #000;
}

.color-13{
    color: #1397F6;
}

.color-orange{
    color: #F95B0E;
}

.bg-orange{
    background-color: #F95B0E;
}


.italic{
    font-style: italic;
}

.line-height-1-2{
    line-height: 1.2cm;
}